[submodule ".atlas/github.com/sergio-sisternes-epam/skills-cocina-esp"]
	path = .atlas/github.com/sergio-sisternes-epam/skills-cocina-esp
	url = https://github.com/sergio-sisternes-epam/skills-cocina-esp.git
	branch = atlas
