[submodule ".atlas/github.com/sergio-sisternes-epam/atlas-atlas"]
	path = .atlas/github.com/sergio-sisternes-epam/atlas-atlas
	url = https://github.com/sergio-sisternes-epam/atlas-atlas.git
	branch = docs/skill-help-pilot
[submodule ".atlas/github.com/sergio-sisternes-epam/atlas-cartograph-atlas"]
	path = .atlas/github.com/sergio-sisternes-epam/atlas-cartograph-atlas
	url = https://github.com/sergio-sisternes-epam/atlas-cartograph-atlas.git
	branch = docs/atlas-help-connection
